:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: var(--title);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
}

main h1{
    display: flex;
    height: 60px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5.8em;
    margin-bottom: 4em;
    line-height: 2rem;
    gap: 1.8em;
    width: 100%;
    height: 378px;
    color: var(--white);
    background:  linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(img/wallpaper.jpeg) center no-repeat;
    background-size: 100%;
}

.titleban{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.banner p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.destaques h1{
    font-size: 32px;
}

.destaques p{
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.destaques{
    display: flex;    
    flex-direction: column;
}

.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.caixote{
    display: flex;
    height: 302px;
    width: 300px;
    background-color: var(--bgCard);
    align-items: center;
    justify-content: center;
}

.caixote img{
    width: 250px;
    height: 150px;
}

footer{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: var(--title);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
